.nav-button {
  padding: 0 20px;
  color: rgb(16, 16, 16);
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

.nav-button.active {
  background-color: rgb(16, 16, 16);
  color: rgb(251,251,251);
}