.cards-grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 150px));
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
}

@media screen and (min-width: 769px) {
  .cards-grid-container {
    margin-top: 80px;
    gap: 15px;
    padding: 56px 90px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 250px));
    justify-content: space-between;
  }
}
